# ------------------------------------------------------------------------------- #
# Dagnino ignores:
**/.env
**/*.pem
**/*.crt

# ------------------------------------------------------------------------------- #
