torch==2.0.1

sentencepiece
soundfile
transformers==4.30.2
num2words
spacy==3.7.2
bitarray

path
wonderwords
easydict
#h5py
tqdm
#PyYAML
#pydub==0.25.1

numpy==1.20.0
librosa
sox
simpleaudio

huggingface_hub==0.24.0
fairseq==0.12.2
#tensorboardX
audiolm-pytorch==1.1.4
encodec==0.1.1
funcy==2.0
